// Article

article {
	&.post {
		display: flex;
		flex-direction: column;
		justify-content: space-between;

		a {
			text-transform: uppercase;
			color: $blush;
		}

		.entry-header {
		}

		.entry-content {
		}

		.post-thumbnail {
			display: flex;
			justify-content: center;
			align-items: center;
			margin-bottom: 15px;
			overflow: hidden;
			box-shadow: unset;
			transition: all 0.3s ease;

			figure {
				position: relative;
				margin: 0;
				z-index: -1;
			}

			img {
				transform: scale(1);
				transition: all 0.3s ease;
			}

			&:hover,
			&:active,
			&:focus {
				img {
					transform: scale(1.15);
				}
			}
		}

		.read-more-link {
			font-weight: bold;
			text-transform: uppercase;
			border-radius: 0;
			color: $white;
			background: $blush;

			&:hover,
			&:active,
			&:focus {
				color: $white;
				background-color: darken($blush, 10%);
			}
		}
	}
}
