// Container

.container {
	width: 100%;
	margin-left: auto;
	margin-right: auto;
	padding-left: 15px;
	padding-right: 15px;

	// Extra small devices (portrait phones, less than 576px)
	@media (max-width: 575.98px) {
		max-width: 100%;
	}

	// Small devices (landscape phones, 576px and up)
	@media (min-width: 576px) and (max-width: 767.98px) {
		max-width: 540px;
	}

	// Medium devices (tablets, 768px and up)
	@media (min-width: 768px) and (max-width: 991.98px) {
		max-width: 720px;
	}

	// Large devices (desktops, 992px and up)
	@media (min-width: 992px) and (max-width: 1199.98px) {
		max-width: 960px;
	}

	// X-Large devices (large desktops, 1200px and up)
	@media (min-width: 1200px) and (max-width: 1399.98px) {
		max-width: 1140px;
	}

	// XX-Large devices (larger desktops, 1400px and up)
	@media (min-width: 1400px) {
		max-width: 1320px;
	}
}

.container-fluid {
	max-width: 90%;
	margin-left: auto;
	margin-right: auto;
	padding-left: 15px;
	padding-right: 15px;
}
