// Entrys

.entry-header {
	.entry-title {
		color: $congo-pink;
	}
}

.wp-block-cover__inner-container,
.entry-header,
.entry-content {
	width: 100% !important;

	& > *:not(.alignwide):not(.alignfull) {
		width: 100%;
		margin-left: auto;
		margin-right: auto;
		padding-left: 15px;
		padding-right: 15px;

		// Extra small devices (portrait phones, less than 576px)
		@media (max-width: 575.98px) {
			max-width: 100%;
		}

		// Small devices (landscape phones, 576px and up)
		@media (min-width: 576px) {
			max-width: 540px;
		}

		// Large devices (desktops, 992px and up)
		@media (min-width: 992px) {
			max-width: 720px;
		}
	}

	.alignfull {
		max-width: 100%;
	}

	.alignwide {
		margin-left: auto;
		margin-right: auto;
		padding-left: 15px;
		padding-right: 15px;

		// Extra large devices (large desktops, 1200px and up)
		@media (min-width: 1200px) {
			max-width: 1140px;
		}
	}
}
