// Navbar

.navbar {
	background-color: $light-pink;

	@media (min-width: 992px) {
		background-color: transparent;
	}

	.navbar-brand {
		max-width: 60%;
		margin-right: 0;

		@media (min-width: 992px) {
			max-width: unset;
			margin-right: 3rem;
		}
	}
}

.navbar-collapse {
	// Large devices (desktops, 992px and up)
	@media (min-width: 992px) {
		background: unset;
	}
}

.navbar-nav {
	.dropdown-menu {
		flex-direction: column;
		padding: 0;
		border: none;
		border-radius: 0;
		text-transform: uppercase;
		font-weight: 300;
		font-size: 0.8rem;

		@media (min-width: 992px) {
			margin-top: 18px !important;
		}

		.nav-item {
			padding-top: 0.8rem;
			padding-bottom: 0.8rem;
			border-bottom: 1px solid $spanish-gray;
		}
	}
}

.nav-item {
	.nav-link {
		text-transform: uppercase;
	}
}

.navbar-light {
	.navbar-nav {
		.active > .nav-link,
		.nav-link {
			color: $black;

			@media (min-width: 992px) {
				color: $spanish-gray;
			}

			&:hover,
			&:active,
			&:focus {
				color: $blush;
			}
		}
	}

	.navbar-toggler-icon {
		background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(255,255,255, 1)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
	}
}
