// Whatapp CTA

.whatapp-cta {
	position: fixed;
	display: grid;
	grid-template-columns: 20% auto;
	gap: 0.5rem;
	justify-content: center;
	align-items: center;
	padding: 0.5rem;
	bottom: 0;
	left: 0;
	max-width: 260px;
	max-height: 60px;
	color: $white;
	background-color: $blush;
	transition: all 0.2s ease-in-out;
	z-index: 10;

	i {
		text-align: center;
	}

	&:hover,
	&:active,
	&:focus {
		color: $white;
		text-decoration: none;

		span {
			text-decoration: underline;
		}
	}
}
