// WooCommerce

.woocommerce {
	.button {
		padding: 1em 1.2em !important;
		border-radius: 0 !important;
		text-align: center;
		color: $congo-pink !important;
		background-color: $white !important;
		box-shadow: -5px -5px 13px -8px $black !important;

		&:hover,
		&:active,
		&:focus {
			color: $congo-pink;
			background-color: $white;
		}
	}

	.woocommerce-MyAccount-navigation {
		.is-active {
			font-weight: bold;
			color: $blush;
			background-color: $piggy-pink;
		}

		ul {
			padding: 0;
			list-style: none;
		}

		li {
			padding: 0.3rem 0.7rem;
			text-transform: uppercase;

			&:last-child {
				border-bottom: 0;
			}
		}
	}

	.woocommerce-Address {
		max-width: inherit;
	}

	.woocommerce-Address-title {
		:first-child {
			font-size: 1.2rem;
			font-weight: 700;
		}
	}

	table.my_account_orders {
		font-size: inherit;
	}
}
