// WooCommerce Products List

.woocommerce {
	ul.products {
		display: grid;
		grid-template-columns: 1fr;
		grid-gap: 8px;
		gap: 8px;

		@media (min-width: 768px) {
			grid-gap: 30px;
			gap: 30px;
		}

		&::before {
			content: unset;
		}

		&:not(.columns-1),
		&[class^="columns"] {
			grid-template-columns: repeat(2, 1fr);
		}

		@media (min-width: 992px) {
			&.columns-3 {
				grid-template-columns: repeat(3, 1fr);
			}

			&.columns-4 {
				grid-template-columns: repeat(4, 1fr);
			}

			&.columns-5 {
				grid-template-columns: repeat(5, 1fr);
			}

			&.columns-6 {
				grid-template-columns: repeat(6, 1fr);
			}

			&.columns-7 {
				grid-template-columns: repeat(7, 1fr);
			}
		}

		li.product {
			display: flex;
			flex-direction: column;
			width: 100% !important;
			margin: 0 !important;
			color: $congo-pink;
			background-color: $piggy-pink;

			@media (min-width: 992px) {
				flex-direction: row-reverse;
			}

			a {
				img {
					margin: 0;
				}

				&.button {
					min-width: 100px;
					text-transform: uppercase;

					@media (min-width: 768px) {
						min-width: 120px;
					}
				}
			}

			.onsale {
				background-color: $blush;
			}

			.product-thumbnail-wrapper {
				display: flex;
				justify-content: center;
				align-items: center;
				flex: 1 1 50%;
			}

			.product-infos-wrapper {
				display: flex;
				flex-direction: column;
				justify-content: center;
				align-items: center;
				flex: 1 1 50%;
				padding: 1rem;
				text-align: center;

				@media (min-width: 992px) {
					align-items: flex-start;
					padding: 1rem 2rem;
					text-align: initial;
				}
			}

			.woocommerce-loop-product__title {
				font-size: 1.2rem;
				font-weight: bold;

				@media (min-width: 768px) {
					font-size: 1.5rem;
				}
			}
		}

		&.columns-4,
		&.columns-5,
		&.columns-6,
		&.columns-7 {
			li.product {
				flex-direction: column;

				.product-infos-wrapper {
					align-items: center;
					text-align: center;
				}
			}
		}
	}
}
