// WooCommerce Buttons

.woocommerce {
	.button {
		padding: 1em 1.2em !important;
		border-radius: 0 !important;
		text-align: center;
		color: $congo-pink !important;
		background-color: $white !important;
		box-shadow: -5px -5px 13px -8px $black !important;

		&:hover,
		&:active,
		&:focus {
			color: $congo-pink;
			background-color: $white;
		}
	}
}
