// Form

form {
	p {
		font-size: 1.15em;
		margin-bottom: 0.5rem;
	}

	label {
		margin: 0;
		width: 100%;
	}
}

input[type="text"],
input[type="email"],
input[type="tel"],
input[type="number"],
textarea,
select {
	width: 100%;
	margin-top: 0.5rem;
	padding: 8px;
	border: 2px solid $white;
	border-radius: 4px;
	background-clip: padding-box;
	background-color: rgba($black, 4%);
	box-sizing: border-box;
}

input[type="submit"] {
	display: block;
	margin: 1.5rem auto 0;
	padding: 7px 25px;
	font-weight: bold;
	text-transform: uppercase;
	border: none;
	border-radius: 0;
	color: #ffffff;
	background: $hookers-green;
	box-sizing: border-box;
	transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out,
		box-shadow 0.15s ease-in-out;

	&:hover,
	&:active,
	&:focus {
		background-color: darken($hookers-green, 10%);
	}
}

textarea {
	min-height: 50px;
}

select {
	width: 100%;
	height: 2.5em;
	-moz-appearance: none;
	-webkit-appearance: none;
	border-radius: 0;
	background-image: linear-gradient(45deg, transparent 50%, #fff 50%),
		linear-gradient(135deg, #fff 50%, transparent 50%), linear-gradient(to right, #ccc, #ccc);
	background-position: calc(100% - 20px) calc(1em + 2px), calc(100% - 15px) calc(1em + 2px), calc(100% - 2.5em) 0.5em;
	background-size: 5px 5px, 5px 5px, 1px 1.5em;
	background-repeat: no-repeat;
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus textarea:-webkit-autofill,
textarea:-webkit-autofill:hover textarea:-webkit-autofill:focus,
select:-webkit-autofill,
select:-webkit-autofill:hover,
select:-webkit-autofill:focus {
	transition: background-color 5000s ease-in-out 0s;
	border: none;
	box-shadow: 0 0 0 1000px transparent inset;
	-webkit-text-fill-color: $black;
}

::placeholder {
	color: $black;
	opacity: 1;
}

:-ms-input-placeholder {
	color: $black;
}

::-ms-input-placeholder {
	color: $black;
}
