// Cover with a narrow background color

// block-editor-block-list__layout
.is-style-narrow-background-color {
	.wp-block-cover__background {
		display: contents;

		@each $name, $color in $colors {
			&.has-#{$name}-background-color {
				background: unset !important;

				&::before {
					content: "";
					position: absolute;
					width: 100%;
					height: 100%;
					margin: 0 auto;
					background: $color !important;
					opacity: 1;
					z-index: 1;

					// Large devices (desktops, 992px and up)
					@media (min-width: 992px) {
						max-width: 780px;
					}
				}
			}
		}
	}
}
