// Types

body {
  font-family: "Optima", sans-serif;
  font-weight: normal;
  -webkit-font-smoothing: antialiased;
  line-height: 1.4;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Optima", serif;
  font-weight: 400;
}
