// Buttons

.wp-block-button {
	box-shadow: -5px -5px 13px -8px #000;
}

// Button alignment correction
.wp-block-buttons.alignright {
	text-align: right;

	.wp-block-button {
		margin-right: unset;
	}
}