// Ultimate Block - Tabs

.wp-block-ub-tabbed-content {
  margin-top: 0;
  margin-bottom: 0;
}

.wp-block-ub-tabbed-content-tabs-title {
  background-color: #333333;
  justify-content: center;
}

.wp-block-ub-tabbed-content-tab-title-wrap {
  position: relative;
  margin-right: 0;
  border: none;
  border-radius: 0;
  font-family: "Raleway", sans-serif;
  color: #ffffff !important;
  background-color: #333333 !important;
}

.wp-block-ub-tabbed-content-tab-title {
  text-transform: uppercase;
}

.wp-block-ub-tabbed-content-tabs-content {
  border: none;
  padding-left: 0;
  padding-right: 0;
}

.wp-block-ub-tabbed-content-tab-content-wrap {
  border: none !important;
}
