// Block Columns

.wp-block-columns {
	margin-top: 0;
	margin-bottom: 0;

	flex-direction: column;

	@media (min-width: 992px) {
		flex-direction: row;
	}
}

.wp-block-column {
	margin: 0 !important;
}
