/* Webfonts */

// Note: Need to be enqueued in Block Editor Assets to be applied there too

@font-face {
	font-family: "Grand Royal";
	src: url("../../fonts/grandroyal-regular.woff2") format("woff2"),
		url("../../fonts/grandroyal-regular.woff") format("woff");
	font-weight: normal;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: "Coughy Machine";
	src: url("../../fonts/coughymachine-regular.woff2") format("woff2"),
		url("../../fonts/coughymachine-regular.woff") format("woff");
	font-weight: normal;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: "Optima";
	src: url("../../fonts/optima-regular-webfont.woff2") format("woff2"),
		url("../../fonts/optima-regular-webfont.woff") format("woff");
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: "Optima";
	src: url("../../fonts/optima-italic-webfont.woff2") format("woff2"),
		url("../../fonts/optima-italic-webfont.woff") format("woff");
	font-weight: normal;
	font-style: italic;
}

@font-face {
	font-family: "Optima";
	src: url("../../fonts/optima-bold-webfont.woff2") format("woff2"),
		url("../../fonts/optima-bold-webfont.woff") format("woff");
	font-weight: bold;
	font-style: normal;
}

@font-face {
	font-family: "Optima";
	src: url("../../fonts/optima-bolditalic-webfont.woff2") format("woff2"),
		url("../../fonts/optima-bolditalic-webfont.woff") format("woff");
	font-weight: bold;
	font-style: italic;
}
