// Page 404

.error404 {
	main {
		@media (min-width: 992px) {
			background: url("../../images/bg-404.jpg") center center no-repeat;
			background-size: cover;
		}

		.container {
			display: flex;
			flex-direction: column;
			justify-content: center;
			min-height: 100vh;
		}
	}

	.page-title {
		font-size: 5rem;
		font-weight: bold;
		color: $congo-pink;
	}

	.page-message {
		font-size: 2rem;

		@media (min-width: 992px) {
			max-width: 40%;
		}
	}

	.back-home {
		margin-top: 100px;
		font-size: 1rem;
	}
}
