// Single Products

.product-summary-wrapper {
	margin-bottom: 2rem;

	@media (min-width: 768px) {
		background: url("../../images/bg-products.jpg") center center no-repeat;
		background-size: cover;
	}

	.product-summary {
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		gap: 4%;

		max-width: 1140px;
		min-height: 100vh;
		margin: 0 auto;
		padding-top: 80px;

		@media (min-width: 992px) {
			flex-direction: row-reverse;
		}

		.product-image,
		.woocommerce-product-gallery,
		.summary {
			display: flex;
			flex: 1 1 auto;
			float: unset !important;
			margin-bottom: 0 !important;

			@media (min-width: 992px) {
				width: 48%;
			}
		}

		.product-image,
		.woocommerce-product-gallery {
			@media (min-width: 992px) {
				align-self: flex-end;
			}
		}

		.wp-post-image {
		}

		.summary {
			flex-direction: column;
			font-size: 1.2rem;

			.product_title {
				font-size: 3rem;
				font-weight: bold;
				color: $light-pink;
				max-width: 80%;

				@media (min-width: 992px) {
					max-width: unset;
					font-size: 4rem;
				}
			}

			.cart {
				display: flex;
				align-items: center;
				margin-top: 2rem;

				@media (min-width: 992px) {
					margin-top: 4rem;
				}
			}

			.quantity {
			}

			.qty {
				margin-top: 0;
				font-size: 1rem;
				border: 1px solid $black;
				border-radius: 0;
			}

			.button {
				text-transform: uppercase;
				border-radius: 0;
				font-size: 1rem;
				color: $white !important;
				background-color: $blush !important;
			}
		}
	}
}

.product-content {
	position: relative;
	margin: 3rem 0;
	padding: 3rem 1.5rem;
	font-size: 1.2rem;
	background-color: $snow;

	@media (min-width: 992px) {
		margin: 9.5rem 0;
		padding: 6.5rem 13rem;
		min-height: 500px;
	}

	@media (min-width: 1400px) {
		padding: 6.5rem 10.5rem;
	}

	&::before,
	&::after {
		@media (min-width: 992px) {
			content: "";
			position: absolute;
			display: block;
			top: 50%;
			background-size: contain !important;
		}
	}

	&::before {
		@media (min-width: 992px) {
			min-width: 410px;
			min-height: 600px;
			left: 0;
			transform: translate(-40%, -50%) scale(0.75);
			background: url("../../images/woman-content-left.png") center center no-repeat;
		}

		@media (min-width: 1400px) {
			transform: translate(-45%, -50%) scale(0.75);
		}

		@media (min-width: 1600px) {
			transform: translate(-65%, -50%);
		}
	}

	&::after {
		@media (min-width: 992px) {
			min-width: 330px;
			min-height: 675px;
			right: 0;
			transform: translate(45%, -50%) scale(0.75);
			background: url("../../images/woman-content-right.png") center center no-repeat;
		}

		@media (min-width: 1600px) {
			transform: translate(65%, -50%);
		}
	}

	h1,
	h2,
	h3,
	h4,
	h5,
	h6 {
		color: $congo-pink;
		text-shadow: 3px 2px $redwood;
	}
}

.upsells,
.related {
	.section-title {
		margin-bottom: 60px;
		font-size: 3.5rem;
		font-weight: bold;
		line-height: 1;
		color: $congo-pink;

		@media (min-width: 992px) {
			max-width: 20%;
		}
	}

	.product-link {
		position: relative;

		&:hover,
		&:active,
		&:focus {
			text-decoration: none;
		}
	}

	.product-image {
	}

	.product-title {
		display: flex;
		justify-content: center;
		align-items: center;
		max-width: 70%;
		min-height: 80px;
		margin: 0 auto;
		padding: 1.2rem 0 !important;
		font-size: 1.2rem;
		text-align: center;
		color: $congo-pink;
		background-color: $piggy-pink;
		transform: translateY(-50%);
	}

	.owl-carousel {
		position: relative;
		max-width: 80%;
		margin: 0 auto 60px;

		.owl-nav {
			position: absolute;
			top: 0;
			width: 100%;
			height: 100px;
			margin: 0;
			transform: translateY(100%);
			z-index: -1;

			// To always show, no matter how much items is in the carousel ¯\_(ツ)_/¯
			&.disabled {
				display: block;
			}

			button[class*="owl-"] {
				position: absolute;
				margin: 0;
				border-radius: 5px;
				background: $piggy-pink;
				color: #fff;

				span {
					font-size: 5rem;
					color: $congo-pink;
					font-weight: bold;
					line-height: 1;
				}
			}

			.owl-prev {
				left: -40px;
			}

			.owl-next {
				right: -40px;
			}
		}

		.owl-dot {
			margin-top: 30px;

			&.active,
			&:hover,
			&:active,
			&:focus {
				span {
					background: $blush !important;
				}
			}
		}
	}
}
